################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/bin/Debug
/obj/Debug
/bin/Release
/obj/Release
/FileHistoryCopy.csproj.user
